body{
  background: red;
}

.container{
  height: 200px;
  width: 200px;
  position: absolute;
  margin: 35px;
 }
.container1{
  height: 200px;
  width: 200px;
  position: absolute;
  margin-left:250px;
  margin-top: 200px;
}
.container2{
  height: 200px;
  width: 200px;
  position: absolute;
  margin: 35px;
  margin-left: 475px;
 }

.square {
  height: 94%;
  width: 94%;
  background : rgb(0,0,0);
  position: absolute;
  top : 50%;
  left : 50%;
  margin: -47%;
}

.black{
  background: rgb(255,255,255);
  animation : rotate 10s infinite linear;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
    }
  100%{
    transform: rotate(360deg);
    }
}

